/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

    .group {
    -fx-background-color: null;
    -fx-background-image: url('img/Recurso 6.svg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
}