/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    
    

    .darkpurple-button{
        -fx-background-color: #4E0250;
        -fx-background-radius: 30;
    }
    
    .shadow{
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
    }
    
    .purple-button{
        -fx-background-color: #801A86;
        -fx-background-radius: 30;
    }
    
    /* TABLE VIEW */
    
    table-view{
        -fx-background-color:transparent;
        -fx-background-raius: 30px;
        -fx-table-cell-border-color: transparent;
    }
    
    .table-view:focused{
        -fx-focus-color: transparent;
    }
    
    .table-view .column-header-background .filler{
        -fx-background-color: rgba(128, 26, 134, 0.5);
    }
    
    .table-view .corner{
        -fx-background-color: transparent;
    }
    
    .table-row-cell:selected .table-cell{
        -fx-text-fill: black;
    }
    
    
    /* color de una fila seleccionada por el usuario*/
    .table-view:row-selection .table-row-cell:filled:selected { 
        -fx-text-fill: black;
        -fx-background-color: rgba(205, 217, 126, 0.65);
        -fx-border-color: transparent;
    }
    
    .table-view .column-header {
        -fx-background-color: rgba(128, 26, 134, 0.5);
    }
    
    /* centrar y cambiar color de los titulos de columnas*/
    .table-view .column-header .label{
        -fx-text-fill: #FFFFFF;
        -fx-background-color: rgba(128, 26, 134, 0.5);
        -fx-alignment: CENTER;
        -fx-font-weight: bold;
        -fx-border-color: rgba(128, 26, 134, 0.5);
    }
    
    /* tamaño, bordes y color de fondo de los titulos*/
    .table-view .column-header, .table-view .filler {   
        -fx-size: 45;
        -fx-border-color: rgba(128, 26, 134, 0.5);
        -fx-pref-height: 50px;
    }
    
    .table-view .table-cell {  
        -fx-border-color: transparent;  
        -fx-font: 14px "sans-serif";    
        -fx-border-insets: 0;
        -fx-pref-height: 35px;
    }
    

    
    .table-view .table-column {
        -fx-alignment: CENTER;
    }
    
    
    /* eliminar borde de celdas en las filas vacias*/
    .table-row-cell.table-cell {
        -fx-border-width: 0px;
        -fx-border-color: transparent;
    }
    
    /* color de una fila cuando en raton se encuentra sobre la misma  */
    .table-view:row-selection .table-row-cell:filled:hover { 
        -fx-background-color: rgba(205, 217, 126, 0.25);
        -fx-border-width: 0px;
        -fx-border-color: transparent;
    }
}
